  <h3 class="sg__subtitle">Form</h3>

  <form class="sg-forms">

      <div>
        <label class="label">Cosa ti serve</label>
        <input class="input input--text" type="text" placeholder="es. imbianchino..." />
      </div>

      <div>
        <label class="label">Dove ti serve</label>
        <input class="input input--text" type="text" placeholder="es. Reggio Emilia... " />
      </div>

      <div>
        <label class="label label--geo">Dove ti serve</label>
        <input class="input input--text input--geo" type="text" placeholder="es. Reggio Emilia... " />
        <button class="button button--primary button--geo">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>

      {# <div>
        <label class="label">Select Box
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>

      <div>
        <label class="label">Choose Your Favorite</label>
        <input class="input input--radio" type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
        <input class="input input--radio" type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
      </div>

      <div>
        <label class="label">Check these out</label>
        <input class="input input--checkbox" id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
        <input class="input input--checkbox" id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
      </div>

      <div>
        <label class="label">Textarea Label
          <textarea class="input input--textarea" placeholder="small-12.columns"></textarea>
        </label>
      </div> #}

  </form>
