<h3 class="sg__subtitle">Links</h3>

<div class="sg__section">
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis <a href="#" class="primary-link">omnis ad voluptatibus</a> impedit animi beatae fugit nobis distinctio illo sapiente eaque expedita porro, veritatis libero et, optio corporis magni id.
</div>
