<div class="row o-bottom-spacing">
	<a href="#" class="button button--primary button--small">Small</a>
	<a href="#" class="button button--primary">Default</a>
	<a href="#" class="button button--primary button--big">Big</a>
</div>

<div class="row o-bottom-spacing">
	<a href="#" class="button button--secondary button--small">Small</a>
	<a href="#" class="button button--secondary">Default</a>
	<a href="#" class="button button--secondary button--big">Big</a>
</div>

<div class="row o-bottom-spacing">
	<a href="#" class="button button--primary button--inverse button--small">Small</a>
	<a href="#" class="button button--primary button--inverse">Default</a>
	<a href="#" class="button button--primary button--inverse button--big">Big</a>
</div>

<div class="row">
	<a href="#" class="button button--secondary button--inverse button--small">Small</a>
	<a href="#" class="button button--secondary button--inverse">Default</a>
	<a href="#" class="button button--secondary button--inverse button--big">Big</a>
</div>

